.footer {
  align-items: center;
  background-color: $cerulean;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  margin: 25px 0 0 0;
  padding: 20px 20px 5px;
  position: relative;
}

.footer-text {
  @extend %size-letter-big;
  color: $white;
}

.logo-wolox-white {
  height: 75px;
  max-width: 420px;
  width: 100%;
}

.copyright {
  @extend %size-letter-little;
  align-self: flex-end;
  color: $white;
}

@media only screen and (max-width: 1024px) {
  .footer-text {
    font-size: 85%;
  }

  .logo-wolox-white {
    width: 60%;
  }

  .footer {
    height: 125px;
  }

  .copyright {
    align-self: center;
    font-size: 6px;
  }
}
