@media only screen and (max-width: 1024px) {
  .text-dev {
    display: none;
  }

  .logo-wolox {
    height: 20px;
  }

  .navbar {
    height: 80px;
  }

  .tech-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .first-tech {
    align-self: flex-start;
    height: 320px;
    width: 200px;
    margin: 0 0 20px 0;
    padding: 0 15px 0 15px;
    &:after {
      display: none;
    }
  }

  .tech {
    border-top: 1px solid $earls-green;
    margin: 0;
    padding: 0 15px 0 15px;
    height: 320px;
    width: 200px;
  }

  .layout {
    margin: 110px 0 0 60px;
  }

  .footer-text {
      font-size: 85%;
  }

  .logo-wolox-white {
    width: 60%;
  }

  .footer {
    height: 125px;
  }

  .copyright {
    align-self: center;
    font-size: 6px;
  }
}
