%tech-border-radius {
  border-radius: 5px;
}

%size-tech {
  height: 300px;
  width: 200px;
}

%size-letter-medium {
  font-size: 16px;
}

%tech-margin-element {
  margin-bottom: 15px;
}

.border {
  @extend %tech-border-radius;
  @extend %size-tech;
  border: 2px solid $earls-green;
}

.tech {
  @extend %tech-border-radius;
  @extend %size-tech;
  align-items: center;
  background-color: $earls-green;
  display: flex;
  flex-direction: column;
  left: 5%;
  position: relative;
  top: 5%;
}

.img-tech {
  margin: 15px;
  height: 100px;
  width: 100px;
}

.technology-name {
  @extend %tech-margin-element;
  font-weight: bold;
}

.release {
  @extend %tech-margin-element;
  font-weight: bold;
}


.description {
  @extend %size-letter-medium;
  margin: 15px;
  text-align: center;
}
