%tech-border-radius {
  border-radius: 5px;
}

%size-tech {
  height: 320px;
  width: 220px;
}

%tech-margin-element {
  margin-bottom: 15px;
}

.tech {
  @extend %tech-border-radius;
  @extend %size-tech;
  align-items: center;
  background-color: $earls-green;
  display: flex;
  flex-direction: column;
  left: 45px;
  margin: 15px 15px;
  position: relative;
  padding: 0 25px 0 5px;

  &::before {
    @extend %tech-border-radius;
    @extend %size-tech;
    content: "";
    border: 2px solid $earls-green;
    left: -10px;
    position: absolute;
    top: -10px;
    transition: all 0.5s ease-in-out;
  }

  &:hover::before {
    transform: translateX(20px) translateY(20px);
  }
}

.img-tech {
  margin: 13px;
  height: 100px;
  width: 100px;
}

.technology-name {
  @extend %tech-margin-element;
  @extend %size-letter-medium;
}

.release {
  @extend %tech-margin-element;
  font-weight: bold;
}

.description {
  margin: 15px 10px 0 5px;
  text-align: center;
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 150px 0 45px 100px;
  max-width: 1030px;
  width: 100%;
}
