%size-tech {
  height: 320px;
  width: 220px;
}

%tech-margin-element {
  margin-bottom: 15px;
}

.tech, .first-tech {
  @extend %size-tech;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 15px;
  position: relative;
  padding: 0 25px 0 5px;
}

.first-tech {
  align-self: center;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  justify-self: end;

  &:after {
    content: "";
    border: 1px solid $earls-green;
    height: 670px;
    position: absolute;
    right: 0;
    top: -180px;
  }
}

.img-tech {
  margin: 13px;
  height: 100px;
  width: 100px;
}

.technology-name {
  @extend %tech-margin-element;
  @extend %size-letter-medium;
}

.release {
  @extend %tech-margin-element;
  font-weight: bold;
}

.description {
  margin: 15px 10px 0 5px;
  text-align: center;
}

.layout {
  margin: 150px 0 45px 100px;
  max-width: 1030px;
  width: 100%;
}

.tech-container {
  display: grid;
  grid-template-columns: [first] 50% [line2] 25% [line3] 25%  ;
}
