%tech-border-radius {
  border-radius: 5px;
}

%size-tech {
  height: 300px;
  width: 200px;
}

%tech-margin-element {
  margin-bottom: 15px;
}

.tech {
  @extend %tech-border-radius;
  @extend %size-tech;
  align-items: center;
  background-color: $earls-green;
  display: flex;
  flex-direction: column;
  left: 5%;
  position: relative;
  top: 5%;
  margin: 1% 1% 2% 2%;

  &::before {
    content: "";
    @extend %tech-border-radius;
    @extend %size-tech;
    border: 2px solid $earls-green;
    left: -6%;
    position: absolute;
    top: -4%;
  }
}

.img-tech {
  margin: 15px;
  height: 100px;
  width: 100px;
}

.technology-name {
  @extend %tech-margin-element;
  font-weight: bold;
}

.release {
  @extend %tech-margin-element;
  font-weight: bold;
}


.description {
  margin-top: 15px;
  margin-right: 9px;
  margin-left: 15px;
  text-align: center;
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 6%;
  margin-top: 2%;
  margin-bottom: 7%;
  position: relative;
  width: 60%;
}
