%radius {
  border-radius: 5px;
}

%size-tech {
  height: 300px;
  width: 200px;
}

%size-margin-element {
  margin-bottom: 15px;
}

.border {
  @extend %radius;
  @extend %size-tech;
  border: 2px solid $earls-green;
  margin: 17px;
}

.tech {
  @extend %radius;
  @extend %size-tech;
  align-items: center;
  background-color: $earls-green;
  display: flex;
  flex-direction: column;
  left: 5%;
  position: relative;
  top: 5%;
}

.img-react {
  margin: 15px;
  height: 100px;
  width: 100px;
}

.paragraph-1 {
  @extend %size-margin-element;
  font-weight: bold;
}

.paragraph-2 {
  @extend %size-margin-element;
  font-weight: bold;
}


.paragraph-3 {
  margin-top: 15px;
  margin-right: 9px;
  margin-left: 15px;
  text-align: center;
}

.front-end {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 7%;
  position: relative;
  width: 80%;
}
