.title {
  font-size: 24px;
  color: $color-black;
}

.img-title {
  width: 100px;
  height: 100px;
  left: 35px;
  position: relative;
  top: 40px;
  z-index: -1;
}

h1::before {
  content: url(.img-title);
  position: absolute;
}
