.title {
  color: $black;
  font-size: 24px;
  margin-left: 7%;
  padding-left: 57px;
  padding-top: 45px;
  padding-bottom: 50px;
  position: relative;

  &::before {
    content: url(assets/triangle.svg);
    position: absolute;
    left: 0;
    top: 0;
    width: 75px;
    z-index: -1;
  }
}
