.title {
  color: $black;
  font-size: 24px;
  margin: 0px 0 0 100px;
  padding: 45px 0 50px 55px;
  position: relative;

  &::before {
    content: url(assets/triangle.svg);
    position: absolute;
    left: 0;
    top: 0;
    width: 75px;
    z-index: -1;
  }
}
