@import '../../../scss/colors';

.loginButton {
  align-self: center;
  background-color: $white;
  border-radius: 5px;
  margin: 5px 0;
  width: 75px;
}

.divForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: center;
}

.form {
  background-color: $white;
  border-radius: 75px;
  box-shadow: 0 0 25px $dusty-gray;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: center;
  padding: 30px;
  width: 350px;
}

.labelLogin {
  font-size: 16px;
  margin: 5px 30px;
}

.title {
  position: relative;
  right: -20px;
  &::before {
    content: url(../../../images/tic-tac-toe.svg);
    position: absolute;
    top: -100px;
    transform: rotate(-20deg);
    width: 100px;
  }
}
